:root{
    --blue-horizon: #4b6584;
    --black-orchid: #2d3436;
    --lynx-white: #f5f6fa;
    --alizarin: #e74c3c;
    --soaring-eagle: #95afc0;
}

/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: .8rem 1rem;
    background-color: var(--soaring-eagle);
}

.logo-wrapper{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 30px;
    display: inline-block;
}

.brand{
    display: inline-block;
    font-family: 'Open Sans',sans-serif;
    font-size: 1.5rem;
    color: var(--lynx-white);
    margin: 0;
    margin-left: .5rem;
}

#soflow-color {
    color: #fff;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#779126, #779126 40%, #779126);
    background-color: ;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding-left: 15px;
 }

.cart{
    display: inline-block;
    background-color:var(--lynx-white);
    border-radius: 50%;
    border: none;
    box-shadow: 3px 3px 5px black;
    padding: .375rem;
    margin-right: 2rem;
}

.cart:hover{
    background-color: #779126;
    color: var(--lynx-white);
    cursor: pointer;
}

.cart-logo{
    display: inline-block;
    max-width: 20px;
}

/* Product */
.product{
    margin: 1rem 0;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
}

.indicator{
    float: right;
    position: absolute;
    top: 10px;
    right: 0px;
    z-index: 100;
    font-family: sans-serif;
    font-size: .8rem;
    background-color: var(--alizarin);
    padding: .25rem;
    border: none;
    border-radius: 2px;
    display: flex;
}

.indicator-label{
    display: inline-block;
    margin: auto;
    color: var(--lynx-white);
    align-self: center;
}

.product-thumbnail{
    height: 50vh;
}

.product-name{
    display: inline-block;
    margin: .5rem 0;
    align-self: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
}

.price{
    display: inline-block;
    margin: 0;
    align-self: center;
    font-family: 'Acme', sans-serif;
    font-size: 1.2rem;
    color: var(--alizarin);
}

.add-to-cart{
    background-color: var(--black-orchid);
    font-family: 'Open Sans',sans-serif;
    font-size: 1.1rem;
    color: var(--lynx-white);
    padding: .35rem .5rem;
    margin-top: 1rem;
    border-radius: 5px; 
    border: none;
    width: 50%;
    align-self: center;
}

.add-to-cart:hover{
    background-color: var(--lynx-white);
    color: var(--black-orchid);
    cursor: pointer;
    border: 1px solid var(--black-orchid);
}

.products-container{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: center;
    grid-gap: 1%;
}

/* Cart */
.cart-title{
    display: inline-block;
    margin: .5rem 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    font-size: bold;
}

.total{
    justify-self: flex-end;
    margin: 0;
    font-family: sans-serif;
    font-size: 1.5rem;
    text-align: center;
    color: var(--black-orchid);
}

.remove-item{
    width: 25px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
}

.remove-item:hover{
    cursor: pointer;
}

.added-item-thumbnail{
    height: 25vh;
}
.added-item-name{
    margin: .5rem 0;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
    text-align: center;
}

.added-item-price{
    margin: 0;
    font-family: 'Acme', sans-serif;
    font-size: .9rem;
    text-align: center;
    color: var(--alizarin);
}

.qty{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    color: var(--black-orchid);
    text-align: center;
}

.added-item{
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 1rem 0;
    position: relative;
}

.cart-container{
    display: grid;
    grid-template-columns: 50%;
    padding: 1.3rem;
}

